<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>text</title>
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-text-geometry-component@^0.5.0/dist/aframe-text-geometry-component.min.js"></script>
    <script src="https://unpkg.com/aframe-look-at-component@0.8.0/dist/aframe-look-at-component.min.js"></script>
    <script src="https://rawgit.com/feiss/aframe-environment-component/master/dist/aframe-environment-component.min.js"></script>
    <script src="{{ url_for('static', filename='aframe-material.js') }}"></script>
    <script type="text/javascript">
      /* jshint esversion: 6 */
      AFRAME.registerComponent('request-response', {
        init: function () {
          const Http = new XMLHttpRequest();
          const url='https://jsonplaceholder.typicode.com/posts';
          // const url = 'https://google.com'; // doesn't work due to some CORS issue
          Http.open("GET", url);
          Http.send();
          Http.onreadystatechange = (e) => {
            var truncatedResponseText = Http.responseText.substring(0, 15); // limit the number of characters the computer has to render so it doesn't overload
            var el = this.el;
            el.setAttribute("text-geometry", "value: " + truncatedResponseText);
          };
        }
      });
    </script>
</head>
<body>
  <a-scene id="scene">
    <a-assets>
      <!-- <a-asset-item id="optimerBoldFont" src="https://rawgit.com/mrdoob/three.js/dev/examples/fonts/optimer_bold.typeface.json"></a-asset-item> -->
      <a-asset-item id="duck" src="{{ url_for('static', filename='scene.gltf') }}"></a-asset-item>
      <!-- duck asset created by patspet, https://sketchfab.com/3d-models/baby-duck-a33f6e51b82f48c6b5e318d48ad1e2c7. Commercial use allowed, must credit author. -->
    </a-assets>
    <!-- <a-sky color="#65dbc8"></a-sky> -->

    <a-entity position="0 0.7 0" rotation="0 0 0">
      <a-entity camera look-controls wasd-controls="fly:true">
        <a-cursor></a-cursor>
      </a-entity>
    </a-entity>
    <a-entity environment="preset: forest; lightPosition: 1.2 1 3"><a-entity>
    <a-entity id="chatbot" position="0 0.25 -2" >
      <a-entity gltf-model="#duck" rotation="0 90 0"></a-entity>
      <!--<a-entity text-geometry="value: What's upDog?" position="0 1 -4" color="#ff0000" look-at="[camera]"></a-entity>-->
      <!--<a-entity id="response" color="#ffffff" position="0.1 4 -3" request-response></a-entity>-->
    </a-entity>
    <!--<a-form action="\" method="post" id="form" form="">-->
    <a-form action="\" method="post" id="form">
    <!--stupid we have to manually make the request-->
      <a-input placeholder="say something..." color="black" width="1" position="-0.97444 1.39073 -2" name="user_input" input="" id="user_input"></a-input>
      <a-button id="submit" name="stuff" value="Click me" type="submit" position="-0.62952 1.17554 -2" button="" onclick = "
      const Http = new XMLHttpRequest();
      const url='/reply';
      Http.open('POST', url, true);
      Http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
      Http.send(document.getElementById('user_input').value);
      Http.onreadystatechange = (e) => {
      if (Http.readyState == 4)
        if (Http.status == 200) {
          alert(Http.response); // limit the number of characters the computer has to render so it doesn't overload
        }
      };
      ">
    </a-form>
    <a-keyboard is-open="true" physical-keyboard="true" position="-1.5 0.10852 -2" scale="2 2 2" rotation="-20 0 0"></a-keyboard>
  </a-scene>
</body>
</html>
